*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
background:linear-gradient(
135deg,
#667eea,
#764ba2
);
}

.container{
width:100%;
max-width:700px;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(12px);
padding:30px;
border-radius:20px;
color:white;
box-shadow:0 8px 25px rgba(0,0,0,.2);
}

h1{
text-align:center;
margin-bottom:10px;
}

.subtitle{
text-align:center;
margin-bottom:20px;
opacity:.8;
}

input,
select,
textarea{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:16px;
}

textarea{
height:120px;
resize:none;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#00c896;
color:white;
font-size:17px;
cursor:pointer;
margin-top:10px;
}

button:hover{
transform:translateY(-2px);
}

.result{
display:none;
margin-top:20px;
background:white;
color:black;
padding:20px;
border-radius:15px;
}

.copy-btn{
background:#667eea;
margin-top:15px;
}
#count{
margin-top:5px;
margin-bottom:10px;
font-size:14px;
color:white;
}

.download-btn{
background:#ff9800;
margin-top:10px;
}

.download-btn:hover{
opacity:.9;
}
#darkBtn{
padding:10px 20px;
width:auto;
display:block;
margin:0 auto 15px;
font-size:16px;
border:none;
border-radius:8px;
cursor:pointer;
}

.dark-mode{
background:#121212 !important;
color:white !important;
}

.dark-mode .container{
background:#1e1e1e !important;
color:white !important;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea{
background:#2d2d2d !important;
color:white !important;
border:1px solid #555;
}
